<%- include("partials/header") %>

<div class="container">
    <h1><%=beer.name%></h1>
    <img src="<%=beer.image%>">
    <p><%=beer.description%></p>
    <a href="/beers">Back</a>
</div>


<%- include("partials/footer") %>